**/node_modules/**
**/dist/**
**/.next/**
**/.react-router/**
**/build/**
**/src-tauri/gen/schemas/**
**/src-tauri/target/**
**/src-tauri/gen/android/app/src/main/assets/tauri.conf.json
packages/infrastructure/**